{% extends 'base.html' %}
{% block body %}
        <form action="" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label for="description">Image description</label>
            <input type="text" name="{{ form.short_description.name }}" class="form-control" id="description" placeholder="Enter image description">
            <span style="color: red">{{ form.short_description.errors }}</span>
        </div>

        <div class="form-group">
            <label for="image">Pet image</label>
            <input type="file" name="{{ form.image.name }}" class="form-control" id="image" placeholder="Enter image">
            <span style="color: red">{{ form.image.errors }}</span>
        </div>

        <div class="form-group">
            <label for="kind">Pet kind</label><br>
            <select name="{{ form.kind.name }}" class="selectpicker" id="kind">
                {% for value, text in form.kind.field.choices %}
                    <option value="{{ value }}">{{ text }}</option>
            {% endfor %}
            </select>
                    <span style="color: red">{{ form.kind.errors }}</span>
        </div>
        {% csrf_token %}
        <button class="btn btn-success">Zapisz</button>
    </form>
{% endblock %}
