server {
    	listen 80;
    	listen 443 ssl;
        server_name {{ nginx_server_name }};
        access_log off;
        {% if https_only %}
        if ($scheme = http) {
            return 301 https://$host$request_uri;
        }
        {% endif %}
        ssl_certificate         /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
        ssl_certificate_key     /etc/letsencrypt/live/{{ domain }}/privkey.pem;
        ssl_trusted_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;

        location /.well-known/acme-challenge {
            root /var/www/letsencrypt;
            try_files $uri $uri/ =404;
        }
        location / {
                proxy_pass http://127.0.0.1:{{ wsgi_server_port }};
                proxy_set_header X-Forwarded-Host $server_name;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                add_header P3P 'CP="ALL DSP COR PSAa PSDa OUR NOR ONL UNI COM NAV"';
        }
    }
